{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class="d-grid gap-2 col-6 ml-5 form_style">
    <form class="form_box" method="post" action="{% url 'login' %}">
      <div class="d-flex justify-content-between align-items-center pt-2 pb-4">
        <div class="col-3">
          <img src="{% static 'image/logo.png' %}"
               alt="Logo"
               height="60px"
               width="60px">
        </div>
        <div class="col-9">
          <h4 class="p-0 m-0">
            <strong class="green">Login Pitch App</strong>
          </h4>
        </div>
      </div>
      {% csrf_token %}
      <div>
        <div>
          <strong>
            {{ form.username.label_tag }}
          </strong>
          <div class="wrap-input">
            {{ form.username }}
          </div>
        </div>
        <div class="pt-2">
          <strong>
            {{ form.password.label_tag }}
          </strong>
          <div class="wrap-input">
            {{ form.password }}
          </div>
        </div>
      </div>
      <div>
        <a class="text-wrap fs-12" href="{% url 'password_reset' %}">{% trans "Reset password?" %}</a>
      </div>
      <div class="errorlist text-danger py-2 font-i fs-14">
        {% if form.errors %}
          <p>
            {% trans "Your username and password didn't match. Please try again." %}
          </p>
        {% endif %}
        {% if next %}
          {% if user.is_authenticated %}
            <p>
              {% trans "Your account doesn't have access to this page. To proceed,
              please login with an account that has access." %}
            </p>
          {% else %}
            <p>
              {% trans "Please login to see this page." %}
            </p>
          {% endif %}
        {% endif %}
      </div>
      <div class="submit_btn">
        <button type="submit" class="btn btn-primary py-0">
          Login
        </button>
      </div>
      <input type="hidden" name="next" value="{{ next }}">
      <div class="py-2 font-i">
        <p>
          {% trans "Do not have an account?" %} <a href="{% url 'signup' %}">{% trans "Sign up" %}</a>
        </p>
      </div>
    </form>
  </div>
{% endblock %}
