{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <h2>{% trans "Sign Up" %}</h2>
        {% for field in form %}
            <p>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
                {{ field.label_tag }} {{ field }}
            </p>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="red">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        <input type="submit" value="Register" />
        <p>
            {% trans "Already has an account?" %} <a href="{% url 'login' %}">{% trans "Login" %}</a>
        </p>
    </form>
{% endblock content %}
