{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
  <h1>List Ordered</h1>
  {% if order_list %}
    <ul class="pl-40 col-10">
      {% for order in order_list %}
        <li class="pt-2">
          <div class="d-flex gap-1 ">
            <a href="{{ order.pitch.get_absolute_url }}">{{ order.pitch.title }}</a>
            {% if order.status == "o" %}
              <span class="badge rounded-pill bg-orange line-height-none ">{% trans "Ordered" %}</span>
              <div class="flex-grow-1">{% trans "Waiting confirm" %}</div>
            {% elif order.status == "c" %}
              <span class="badge rounded-pill bg-green line-height-none ">{% trans "Confirmed" %}</span>
              <div class="flex-grow-1"></div>
            {% else %}
              <span class="badge rounded-pill bg-gray line-height-none ">{% trans "Cancelled" %}</span>
              <div class="flex-grow-1"></div>
            {% endif %}
            <a href="{% url 'order-detail' order.id %}" class="button-remove">{% trans "Detail" %}</a>
          </div>
          <div class="d-flex gap-1">
            <strong>{% trans "Rental period: " %}</strong>
            <div>{% trans "from " %}</div>
            <div>{{ order.time_start }}</div>
            <div>{% trans "to " %}</div>
            <div>{{ order.time_end }}</div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no pitch in the system.</p>
  {% endif %}
{% endblock content %}
