{% extends "base_generic.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block content %}
{{ form.media }}
<div>
  <div class="row d-flex justify-content-center pt-4">
    <div class="col-7 ">
      {% if images.count > 0 %}
      {% include "carousel_banner.html" with images=images %}
      {% endif %}
    </div>
    <div class="col-4 ">
      <div class="detail_card shadow">
        <div class="detail_card_body">
          <h1 class="pt-4">
            {% trans "Title" %}: {{ pitch.title }}
          </h1>
          <div class="rating">
            <p> rating stars</p>
          </div>
          <h3 class="card-title">{% trans "Booking" %}</h3>
          {% if form %}
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
              <input type="submit" class="btn btn-primary mt-3" value="{% trans 'Submit' %}">
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center ">
    <div class="col-11 detail_card shadow mb-3">
      <div class="detail_card_body">
        <h3 class="card-title">{% trans "Detail" %}</h3>
        <ul class="list-group">
          <li class="list-group-item"><strong>{% trans "Address" %}:</strong> {{ pitch.address }}</li>
          <li class="list-group-item"><strong>{% trans "Size" %}:</strong> {{ pitch.get_label_size }}</li>
          <li class="list-group-item"><strong>{% trans "Surface" %}:</strong> {{ pitch.get_label_grass }}</li>
        </ul>
      </div>
    </div>
    <div class="col-11 detail_card shadow mb-3">
      <div class="detail_card_body">
        <h3 class="card-title">{% trans "Description" %}</h3>
        <p class="card-text">{{ pitch.description }}</p>
      </div>
    </div>
    <div class="col-11 detail_card shadow mb-3">
        <div class="detail_card_body">
          <h3 class="card-title">{% trans "COMMENT" %}</h3>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
