{% extends "base_generic.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load i18n %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

{% block content %}
<div class="container mt-5 pitch_lists">
  <h1 class="mb-4">{% trans "List Pitch" %}</h1>
  {% if pitch_list %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for pitch in pitch_list %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ pitch.banner }}" class="card-img-top" alt="Image" height="200" width="100">
            <div class="card-body">
              <h5 class="card-title"><strong>{{ pitch.title }}</strong></h5>
              <p class="card-text">{{ pitch.description }}</p>
            </div>
            <div class="row">
              <div class="col-4">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Address:</strong></li>
                  <li class="list-group-item"><strong>Rent cost:</strong></li>
                  <li class="list-group-item"><strong>Pitch size:</strong></li>
                  <li class="list-group-item"><strong>Pitch surface:</strong></li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ pitch.address }}</li>
                  <li class="list-group-item">{{ pitch.price }}</li>
                  <li class="list-group-item">{{ pitch.size }}</li>
                  <li class="list-group-item">{{ pitch.surface }}</li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="{{ pitch.get_absolute_url }}" class="card-link">{% trans "Detail" %}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>{% trans "There are no pitch in the system." %}</p>
  {% endif %}
</div>
{% endblock %}
