{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load i18n %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/cmt.css' %}" />
{% if page_obj %}
  {% for comment in page_obj%}
    <div>
      <div class="d-flex">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle shadow-4"
        style="width: 40px; height: 40px;" alt="Avatar" />
        <p class="ms-3 pt-2">{{ comment.renter.username }}
      </div>
      <div class="star-rating ms-5 {% if readonly %}star-rating-readonly{% endif %} ">
        <span class="star {% if comment.rating >= 5 %}filled{% endif %}" data-value="5">&#9733;</span>
        <span class="star {% if comment.rating >= 4 %}filled{% endif %}" data-value="4">&#9733;</span>
        <span class="star {% if comment.rating >= 3 %}filled{% endif %}" data-value="3">&#9733;</span>
        <span class="star {% if comment.rating >= 2 %}filled{% endif %}" data-value="2">&#9733;</span>
        <span class="star {% if comment.rating >= 1 %}filled{% endif %}" data-value="1">&#9733;</span>
      </div>
      <p class="pb-0 ms-5">{{ comment.created_date }}</p>
    </div>
    <div class="d-flex ">
      <div class="flex-grow-1 ms-5">{{ comment.comment }}</div>
      <div class="box-icon-update">
        <i class='icon-comment' onclick="showUpdate('{{comment.id}}')">⋮</i>
        <div class="box-update-comment shadow-lg p-3 mb-5 bg-body-tertiary rounded"  id="box_comment{{comment.id}}">
          <button onclick="showInputCommentUpdate('{{comment.id}}')">Update</button>
        </div>
      </div>
    </div>
    <div class="box-input-update" id="input_comment_update{{comment.id}}">
      {% if request.user == comment.renter %}
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="comment_pk" value="{{ comment.pk }}">
          <div class="star-rating ms-3" id="rating_comment_update{{comment.id}}">
          </div>
          <div class="form-outline custom-comment-input d-flex ms-3">
            {{ update_comment_form.comment }}
            <div class="d-flex justify-content-between update_comment">
              <input type="submit" name="update_comment" value="Update Comment">
            </div>
            <div class="d-flex justify-content-between update_cross_btn"><button onclick="hiddenUpdate('{{comment.id}}')">X</button></div>
          </div>
          <div class="errorlist text-danger font-i pt-1 fs-14">
            {% for error in update_comment_form.comment.errors %}
            <div>{{ error }}</div>
            {% endfor %}
          </div>
        </form>
      {% endif %}
    </div>
    <hr>
  {% endfor %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="container row d-flex p-3">
      <div class="w-100">
        <div class="star-rating" id="start_comment">
          <input type="radio" id="5-stars" name="rating" value="5" />
          <label for="5-stars" class="star">&#9733;</label>

          <input type="radio" id="4-stars" name="rating" value="4" />
          <label for="4-stars" class="star">&#9733;</label>

          <input type="radio" id="3-stars" name="rating" value="3" />
          <label for="3-stars" class="star">&#9733;</label>

          <input type="radio" id="2-stars" name="rating" value="2" />
          <label for="2-stars" class="star">&#9733;</label>

          <input type="radio" id="1-star" name="rating" value="1" />
          <label for="1-star" class="star">&#9733;</label>
        </div>
        <div class="form-outline custom-comment-input d-flex">
          {{ comment_form.comment }}
          <div class="d-flex justify-content-between ">
            <input type="submit" name="submit_comment" value="Send Comment">
          </div>
        </div>
        <div class="errorlist text-danger font-i pt-1 fs-14">
          {% for error in comment_form.comment.errors %}
          <div>{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
{% endif %}
<script>

  const showUpdate = (id) => {
    var inputUpdate  = document.getElementById(`input_comment_update${id}`);
    console.log(inputUpdate.style.display)
    if (inputUpdate.style.display !== 'block') {
      var boxUpdateComment = document.getElementById(`box_comment${id}`);
      boxUpdateComment.style.display = "block";
    }
  }


  const showInputCommentUpdate = (id) => {
    var boxUpdateComment = document.getElementById(`box_comment${id}`);
    boxUpdateComment.style.display = "none";
    var inputUpdate  = document.getElementById(`input_comment_update${id}`);
    inputUpdate.style.display = "block";
    var ratingInput = document.getElementById(`rating_comment_update${id}`);
    ratingInput.innerHTML =  `<input type="radio" id="5-stars" name="rating" value="5" />
        <label for="5-stars" class="star">&#9733;</label>

        <input type="radio" id="4-stars" name="rating" value="4" />
        <label for="4-stars" class="star">&#9733;</label>

        <input type="radio" id="3-stars" name="rating" value="3" />
        <label for="3-stars" class="star">&#9733;</label>

        <input type="radio" id="2-stars" name="rating" value="2" />
        <label for="2-stars" class="star">&#9733;</label>

        <input type="radio" id="1-star" name="rating" value="1" />
        <label for="1-star" class="star">&#9733;</label>`
  }

  const hiddenUpdate = (id) => {
     var boxUpdateComment = document.getElementById(`box_comment${id}`);
     boxUpdateComment.style.display = "none";
     var inputUpdate  = document.getElementById(`input_comment_update${id}`);
     inputUpdate.style.display = "none";
     var ratingInput = document.getElementById(`rating_comment_update${id}`);
     ratingInput.innerHTML = ``
  }
</script>
