.form_box {
  width: fit-content;
  border: 1px solid grey;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 7px #6a6a6a;
  height: fit-content;
  min-width: 416px;
}
.form_style {
  background-image: url("/static/image/bckgr.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 55px);
  padding-top: 100px;
}
.form_box h2 {
  font-family: "Roboto", sans-serif;
}
.form_box p {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}
#id_username {
  width: 100%;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
  outline: none;
  border: none;
}
#id_password1 {
  width: 358.4px;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
  outline: none;
  border: none;
}
#id_password {
  width: 358.4px;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
  outline: none;
  border: none;
}
#id_password2 {
  width: 358.4px;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
  outline: none;
  border: none;
}
#id_email {
  width: 358.4px;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
  outline: none;
  border: none;
}
.fill_box {
  padding-bottom: 10px;
}
.submit_btn {
  text-align: center;
  padding: 5px;
}
.submit_btn button {
  border-radius: 10px;
  width: 100px;
  border: none;
  color: rgb(0, 122, 0);
  background-color: white;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
}
.btn {
  border-radius: 10px;
  width: 100px;
  border: none;
  color: rgb(0, 122, 0);
  background-color: white;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
  height: 40px;
}
.login_btn {
  font-style: italic;
  text-align: center;
}
.logo-img {
  width: 20px;
  height: 20px;
}

.font-i {
  font-style: italic !important;
}

.wrap-input input {
  padding-left: 8px !important;
  width: 100% !important;
}
