{% extends "admin/new_base.html" %}
{% load i18n static %}
{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_("Django administration") }}</a>
  </h1>
  {% include "admin/color_theme_toggle.html" %}
{% endblock %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">
{% endblock %}
{% block content %}
  <div id="content-main">
    <h1 class="m-3">Upload Pitch Data</h1>
    <p>
      Here is <a href="{% static 'Sample_data.xlsx' %}" download>Sample excel data</a>
    </p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="excel_file">Select Excel file:</label>
      <input type="file" name="excel_file" accept=".xlsx">
      <button type="submit">Upload</button>
    </form>
  </div>
{% endblock %}
{% block messages %}
  {% if messages %}
    <ul class="messagelist">
      {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock messages %}
