{% load static %}
<div class="modal fade bg-transparent "
     id="loading_modal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
  <div class="modal-dialog h-75 border-none bg-transparent">
    <div class="modal-dialog modal-dialog-centered bg-transparent">
      <div class="modal-content border-none bg-transparent">
        <div class="modal-body text-center bg-transparent">
          <div class="spinner-border white" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <br>
          <div class="mb-3 white">
            Sending Email.....
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
