{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Local Library</title>
    {% endblock title %}
    <meta charset="utf-8"
          name="viewport"
          content="width=device-width, initial-scale=1" />
    <meta name="description" />
    <meta name="keywords" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/send_email_success.css' %}" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}">
  </head>
  <body>
    <div class="container-fluid p-0 m-0">
      <div class="row p-0 m-0">
        <div class="col-sm-12 p-0 m-0">
          {% block nav %}
            {% include "navbar.html" %}
          {% endblock nav %}
        </div>
      </div>
      <div>
        <div class="col-sm-12 p-0 m-0">
          <div class="row p-0 m-0">
            {% block content %}
            {% endblock content %}
          </div>
          <div class="row">
            {% include "pagination.html" %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
