{% load static %}
<div id="carouselExampleIndicators"
     class="carousel slide shadow w-100 bg-body-tertiary rounded"
     data-bs-ride="carousel">
  <div class="carousel-indicators shadow-none bg-body-tertiary rounded">
    {% for image in images %}
      <button type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="{{ forloop.counter0 }}"
              class="active"
              aria-current="true"
              aria-label="Slide {{ forloop.counter1 }}">
      </button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for image in images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %} ">
        <img src="{{ image.image.url }}"
             class="d-block "
             height="500px"
             width="100%"
             alt="iamge">
      </div>
    {% endfor %}
  </div>
</div>
