{% load i18n %}
<div id="footer" class="d-flex flex-row justify-content-center">
  <div class="col-3">
    <strong>{% trans "Linked Pitch system" %}</strong>
    <ul>
      <li>Bloomfield Road</li>
      <li>Camp Nou</li>
      <li>Old Trafford</li>
      <li>Santiago Bernabéu Stadium</li>
    </ul>
  </div>
  <div class="col-3">
    <strong>{% trans "Developer" %}</strong>
    <ul>
      <li>Trinh Van Chung</li>
      <li>Pham Khanh Vy</li>
    </ul>
  </div>
  <div class="col-3">
    <strong>{% trans "Contact" %}</strong>
    <ul>
      <li>Phone: 0972409880</li>
      <li>Email: admin@gmail.com</li>
    </ul>
  </div>
</div>
