{% extends 'email/verify_email_signup.html' %}
{% load i18n %}
{% block title %}
  <title>{% trans "The customer has canceled the order from Pitch App" %}</title>
{% endblock title %}
{% block header %}
  <h1>
    {% trans "The customer has canceled the order from Pitch App" %}
  </h1>
{% endblock header %}
{% block preface %}
  <p class="pink">
    {% trans "Hello" %} <strong>{% trans "Admin" %}</strong>
  </p>
{% endblock preface %}
{% block content %}
  <p>
    {% trans "Pitch App notifies administrators." %}
  </p>
  <div>
    <p>
      {% trans "Order information is CANCELED: " %}
    </p>
    <div class="pl-8">
      <div class="pt-4">
        <strong>{% trans "User: " %}</strong> {{ params.username }}
      </div>
      <div class="pt-4">
        <strong>{% trans "Pitch: " %}</strong> {{ params.pitch_title }}
      </div>
      <div class="pt-4">
        <strong>{% trans "Time start: " %}</strong> {{ params.time_start }}
      </div>
      <div class="pt-4">
        <strong>{% trans "Time end: " %}</strong> {{ params.time_end }}
      </div>
      <div class="pt-4">
        <strong>{% trans "Cost: " %}</strong> {{ params.cost }}
      </div>
    </div>
  </div>
  <p>
    {% trans "For more detailed information please click the button below." %}
  </p>
  <a href="{{ params.link }}" class="button-verify">{% trans "View detail order" %}</a>
{% endblock content %}
